
@{
    Layout = null;
}

<style>
    body {
            background-image:url(../../Images/Best.jpg);
            background-size:cover;
            background-repeat:no-repeat;
           
    }

    div {
        padding-bottom: 15px;
        position:absolute;
        bottom: 0px;
        font-size: 30px;
        left: 80%;
    }
</style>

@using (Html.BeginForm())
{

    <div class="col-md-offset-2 col-lg-12">
        <input type="submit" value="Student" name="submit" class="btn btn-default" />
        <br/>
        <input type="submit" value="Teacher" name="submit" class="btn btn-default" />
    </div>

}