
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Instructional page</title>


    <style>
        body {
            background-image: url(../../Images/the-grand-canyon.jpg);
            background-size: cover;
        }

        h1 {
            text-align: center;
            font-size: 50px;
        }

        p {
            position: absolute;
            font-size: 30px;
            background-color: rgba(255,255,255,.25);
            left: 45%;
            bottom: 35%;
        }

        a {
            font-weight: bold;
            font-size: 20px;
            text-decoration: none;
        }

        button {
            color: beige;
            position: absolute;
            bottom: 0px;
            left: 15px;
        }
    </style>

</head>

<body>
    <h1>Welcome to the Grand Canyon, Reggie!</h1>

    <p>
        Uh oh, Reggie got lost in the maze.<br>
        Help reggie  get out of the maze!.<br>
        You can move by multiplies of 10. <br>
        10,20,30,40... and so on.
    </p>

    <button><a href="~/Game/FirstGame"> Start</a></button>

</body>
</html>

