@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reggies Wonderful Adventure</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="_js/jquery-3.2.1.js"></script>
    <style>
        #GameBoardCanvas {
            border: 1px solid red;
            margin-left: 350px;
            margin-right: auto;
            text-align: center;
            background-image: url(../../Images/maze_background.png);
        }

        Lcontent {
            position: absolute;
            left: 0px;
            top: 25%;
        }

        h1, h3 {
            font-size: 35px;
            padding-left: 5px;
        }

        h2 {
            font-size: 50px;
            text-align: center;
            margin-top: 0px;
            padding-top: 0px;
            margin-bottom: 15px;
        }

        ul, li {
            font-size: 30px;
            list-style-type: none;
            padding-top: 5px;
            background-color: rgba(255,255,255,0.1);
        }

        Rcontent {
            position: absolute;
            right: 0px;
            top: 25%;
        }

        
        body {
            background-image: url(../../Images/the-grand-canyon.jpg);
            background-size: cover;
        }
    </style>
</head>
<body>
    <Lcontent>
        <h1>Fun Facts</h1>

        <ul>
            <li>Located in Arizona</li>
            <li>It's 277 miles long</li>
            <li>It's 18 miles across</li>
            <li>It's 6000 feet deep</li>
        </ul>
    </Lcontent>

    <h2>Navigate through the canyon</h2>
    <div>
        <canvas id="GameBoardCanvas" width="500px" height="500px"></canvas>
    </div>

    <Rcontent>
        <h3> How to play </h3>
        <ul>
            <li>Up arrow to move up</li>
            <li>Down arrow to move down</li>
            <li>Left arrow to move left</li>
            <li>Right arrow to move right</li>
            <li>Can only move on 10's</li>
            <li>Make it to the goal</li>

        </ul>
    </Rcontent>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-lg-12">
                <input type="submit" value="Next Game" class="btn btn-default" />
            </div>
        </div>

        <button>@Html.ActionLink("LogOut", "Welcome")</button>
    }
        <script>



            var canvas = $('#GameBoardCanvas');
            //The game board 1 = walls, 0 = free space, and -1 = the goal
            var board = [
                [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                [1, 1, 1, 1, 1, 1, 1, 1, 1, 0],
                [1, 0, 1, 0, 0, 0, 0, 0, 1, 0],
                [0, 0, 0, 0, 1, 1, 1, 0, 1, 0],
                [0, 1, 1, 0, 0, 0, 1, 0, 1, 0],
                [0, 0, 1, 1, 1, 1, 1, 0, 1, 0],
                [1, 0, 1, 0, 0, 0, 1, 0, 1, 0],
                [1, 0, 1, 0, 1, 0, 1, 0, 0, 0],
                [1, 0, 1, 0, 1, 0, 0, 1, 1, 0],
                [-1, 0, 1, 0, 1, 1, 0, 0, 0, 0]
            ];
            var player = {
                x: 0,
                y: 0
            };

            //Draw the game board
            function draw() {
                var width = canvas.width();
                var blockSize = width / board.length;
                var ctx = canvas[0].getContext('2d');
                ctx.setTransform(1, 0, 0, 1, 0, 0);
                ctx.clearRect(0, 0, width, width);
                ctx.fillStyle = "rgba(255,255,255,0.1)";


                //Loop through the board array drawing the walls and the goal
                for (var y = 0; y < board.length; y++) {
                    for (var x = 0; x < board[y].length; x++) {
                        //Draw a wall
                        if (board[y][x] === 1) {
                            ctx.fillRect(x * blockSize, y * blockSize, blockSize, blockSize);
                        }
                        //Draw the goal
                        else if (board[y][x] === -1) {
                            ctx.beginPath();
                            ctx.lineWidth = 5;
                            ctx.strokeStyle = "gold";
                            ctx.moveTo(x * blockSize, y * blockSize);
                            ctx.lineTo((x + 1) * blockSize, (y + 1) * blockSize);
                            ctx.moveTo(x * blockSize, (y + 1) * blockSize);
                            ctx.lineTo((x + 1) * blockSize, y * blockSize);
                            ctx.stroke();
                        }
                    }
                }
                //Draw the player
                ctx.beginPath();
                var half = blockSize / 2;
                ctx.fillStyle = "blue";
                ctx.arc(player.x * blockSize + half, player.y * blockSize + half, half, 0, 2 * Math.PI);
                ctx.fill();
            }

            //Check to see if the new space is inside the board and not a wall
            function canMove(x, y) {
                return (y >= 0) && (y < board.length) && (x >= 0) && (x < board[y].length) && (board[y][x] != 1);
            }

            $(document).keyup(function (e) {




                if ((e.which == 38) && canMove(player.x, player.y - 1))//Up arrow
                    player.y--;
                else if ((e.which == 40) && canMove(player.x, player.y + 1)) // down arrow
                    player.y++;
                else if ((e.which == 37) && canMove(player.x - 1, player.y))
                    player.x--;
                else if ((e.which == 39) && canMove(player.x + 1, player.y))
                    player.x++;

                if (board[player.y][player.x] == -1) {
                    alert("hello");
                }

                draw();

                e.preventDefault();

            });



            draw();
        </script>
    </body>
</html>
