@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reggies wonderful adventure</title>
</head>
<body>
  
        <h1>Welcome to reggies wonderful adventure!!!!</h1>

        @using (Html.BeginForm())
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Start" class="btn btn-default" />
                </div>
            </div>
    }
  
    </body>
</html>
